<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bu Home sahifasi</h1>
    <a href="/about/">About</a> | <a href="/contact/">Contact</a>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Bu About sahifasi</h1>
    <a href="/">Home</a> | <a href="/contact/">Contact</a>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Bu Contact sahifasi</h1>
    <a href="/">Home</a> | <a href="/about/">About</a>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 4</title>
</head>
<body>
    <h1>Bu View 4 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 5</title>
</head>
<body>
    <h1>Bu View 5 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 6</title>
</head>
<body>
    <h1>Bu View 6 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 7</title>
</head>
<body>
    <h1>Bu View 7 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 8</title>
</head>
<body>
    <h1>Bu View 8 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 9</title>
</head>
<body>
    <h1>Bu View 9 sahifasi</h1>
</body>
</html>

<!DOCTYPE html>
<html>
<head>
    <title>View 10</title>
</head>
<body>
    <h1>Bu View 10 sahifasi</h1>
</body>
</html>






